body{ 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar-brand{ 
    
    text-align: left;
}

.container{ 
    padding: 10px;
    
}

.navbar{ 
    background-color: aqua;
    margin-top: 40px;
    padding: 10px;
    border-radius: 50px;

    
}   

.navBar-links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}